.archive {

  &_content {
    > .col {
      margin-bottom: 5rem;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      max-width: $contentarea;
      width: 100%;
      margin: auto;
    }

    &_main {
      @include desktop {
        width: 70%;
        margin-right: 30px;
      }
    }

    &_sidebar {    
      @include mid();  
      @include tablet {
        max-width: $contentarea;
      }
      @include desktop {
        width: 30%;
      }
    }
  }

  &_page {    

    padding: 0 20px;

    &_heading {
      max-width: $contentarea;
      margin: 30px auto;

      @include mid();
      @include tablet {
        max-width: $contentarea;
        margin-top: 50px !important;
      }

      @include desktop {
        padding: 0 20px;
      }
    }

    &_title {
      font-family: $bahn;
      font-size: 1.8rem;     
      color: $gray;
      
      @include tablet {
        padding: 15px 0;
        font-size: 2.2rem;  
      }
    }

    &_list {
      @include mid();
      @include tablet {
        max-width: $contentarea;
      }

      @include desktop {
        padding: 0 20px;
      }

      &_404 {
        min-height: 300px;
      }
    }

    &_item {
      display: flex;
      justify-content: space-between;
      max-width: 530px;
      margin: 0 auto 10px;
      width: 100%;

      @include tablet {
        max-width: none;
        width: 100%;
        padding: 0;
        margin: 0 0 20px;
      }

      &_thumb {
        width: 40%;

        @include tablet {
          width: 30%;
        }
      }

      &_img {
        width: 100%;
        transition: all ease .3s;

        &:hover {
          opacity: .6;
        }
      }

      &_info {
        width: 60%;
        padding: 0 20px;
        box-sizing: border-box;

        @include tablet {
          width: 67%;
          padding: 0;
        }
      }

      &_title {
        font-size: 1.8rem;
        font-family: $pnxb;
        margin: 0 0 .5rem;

        @include tablet {
          font-size: 3.2rem;
        }

        @include desktop {
          font-size: 4.2rem;
        }

        a{
          color: $black;

          &:hover {
            color: $blue;
          }
        }
      }

      &_meta {
        font-size: 1.2rem;
        font-family: $bahn;
        color: $lightgray;

        @include tablet {
          font-size: 1.6rem;
        }
      }

      &_date {
        text-transform: uppercase;
      }

      &_dot {
        font-size: 1rem;
        margin: 0 .5rem;
      }

      &_cat a {
        color: $lightgray;

        &:hover {
          color: $blue;
        }
      }

      &_excerpt {
        display: none;
        font-size: 1.6rem;

        @include tablet {
          display: block;
          margin-top: 15px;
          font-size: 1.8rem;
        }

        @include desktop {
          font-size: 2.1rem;
        }
      }

    }
  
  }

}