html,body {
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 62.5%;
}

body {
  font-family: $pn;
  font-size: 1.8rem;
  line-height: 1.5;
  color: $dark;
  overflow-x: hidden;
  padding-top: 8.25rem;
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: 1.5rem;
  text-align: left;
}

h1 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.3;
  color: #333;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.3;
  color: #3d3d3d;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: #444;
}

h4 {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.4;
  color: #4d4d4d;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  margin-bottom: 3rem;
  line-height: 1.6;
  text-align: left;
}

a {
  text-decoration: none;
  transition: all ease .3s;
  color: $blue;

  &:hover {
    text-decoration: none;
  }
}

section {
  text-align: center;
  position: relative;
  box-sizing: border-box;

  .row {
    text-align: left;
    margin: auto;
  }
}

div {
  box-sizing: border-box;
}

::placeholder {
  font-family: $bahn;
  color: $lightgray;
}