.content {

  &_post {

    &_list {
      @include tablet {
        display: flex;
        flex-wrap: wrap;
        max-width: 1620px;
        width: 100%;
        padding: 0 15px 15px;
        box-sizing: border-box;
        justify-content: space-between;
        text-align: center;

        &::after {
          content: "";
          flex: 0 1 30%;
        }
      }
    }

    &_item {
      display: flex;
      max-width: 530px;
      margin: 0 auto 10px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 15px;

      @include tablet {
        flex: 0 0 32%;
        flex-direction: column;
        max-width: 530px;
        width: 100%;
        padding: 0;
        margin: 0 0 30px;
      }

      &_thumb {
        width: 40%;

        @include tablet {
          width: 100%;
        }
      }

      &_img {
        width: 100%;
        transition: all ease .3s;

        &:hover {
          opacity: .6;
        }
      }

      &_info {
        width: 60%;
        padding: 0 20px;
        box-sizing: border-box;

        @include tablet {
          width: 100%;
          padding: 0;
        }
      }

      &_title {
        font-size: 1.8rem;
        font-family: $pnxb;
        margin: 0 0 .5rem;

        @include tablet {
          font-size: 2.6rem;
        }

        @include desktop {
          font-size: 3rem;
        }

        a{
          color: $black;

          &:hover {
            color: $blue;
          }
        }
      }

      &_meta {
        font-size: 1.2rem;
        font-family: $bahn;
        color: $lightgray;

        @include tablet {
          font-size: 1.6rem;
        }
      }

      &_date {
        text-transform: uppercase;
      }

      &_dot {
        font-size: 1rem;
        margin: 0 .5rem;
      }

      &_cat a {
        color: $lightgray;

        &:hover {
          color: $blue;
        }
      }

      &_excerpt {
        display: none;
        font-size: 1.6rem;

        @include tablet {
          display: block;
          margin-top: 15px;
          font-size: 1.8rem;
        }
      }

    }

  }

}

.load_more {
  text-align: center !important;
  padding: 20px;

  &_link {
    color: $gray;
    font-weight: 800;
    font-family: $bahn;
    font-size: 1.4rem;

    &::after{
      display: block;
      content:"";
      width: 0;
      height: 0;
      margin: 5px auto;
      border: solid 10px;
      border-top-color: gray;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      transition: all ease .3s;
    }

    &:hover {
      color: $blue;

      &::after{
        border-top-color: $blue;
      }
    }
  }

  p {    
    text-align: center;
    font-size: 2rem;
  }

}