.pre-footer {
  text-align: center;
  background: $blue;
  color: white;
  padding: 30px 15px;
  margin-top: 50px;

  a{
    color: white;
  }

  &_social {
    text-align: center;
    margin-top: 1rem;

    a{
      display: inline-block;
      background: $darkblue;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding:.5rem;
      text-align: center;
      line-height: 20px;

      &:hover {
        background-color: white;
      }

      i{
        color: $blue
      }

    }
  }

}

.footer {
  background: #0d0d0d;
  text-align: center;
  padding: 30px 15px;
  font-size: 1.2rem;
  color: white;

  a{
    color: white;
    margin: 5px;

    &:hover {
      color: $darker;
    }
  }

  &_logo {
    img {
      width: 150px;
      height: auto;
      margin-bottom: 5px
    }
  }

  &_menu {

    &_list {
      text-align: center;

      li {
        display: inline-block;
        margin: 0 .4rem;
        font-family: $bahn;
        font-size: 1.4rem;

        a:hover {
          color: $darkblue;
        }

        @include desktop {
          font-size: 1.6rem;
        }
      }
    }

  }

  &_copy {
    margin-top: 5px;

    p {
      text-align: center;
    }
  }

}

#toTop {
  position: fixed;
  background: $darkblue;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 2.8rem;
  opacity: .6;
  transition: all ease .3s;
  display: none;
  text-align: center;
  line-height: 40px;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  i {
    color: white;
  }
}