.header {

  &_top {

    &.hide {
      transform: translateY(-100%);
    }

    &.show {
      transform: translateY(0);
      position: fixed;
    }

    background: #38b8ff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 1;
    transition: transform 300ms;

    &_row {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 10px;
      max-width: 1620px;
      width: 100%;
    }

    &_col {

      &_left {
        text-align: left;
        width: 60%;
      }

      &_right {
        text-align: right;
        width: 40%;
      }
    }

    &_social {

      &_label {
        display: none;

        @include desktop {
          display: inline-block;
          font-family: $bahn;
          color: white;
          font-size: 1.6rem;
          margin-right: 8px;
        }
      }

      &_link {
        display: inline-block;
        margin: .3rem;

        &:hover {
          i {
            color: $darkblue;
          }          
        }

        i {
          color:white;
          transition: all ease .3s;
        }
      }

    }

    &_icon {
      width: 100%;
      max-width: 60px;
      height: auto;
      margin-bottom: 20px;
    }

    &_search {

      &_mob {

        &_field {
          position: relative;
          margin: 0 auto 20px;
          display: block;
          max-width: 300px;
          width: 100%;

          .icon-search {
            position: absolute;
            top: 12px;
            right: 13px;
            font-size: 2rem;
            color: $lightgray;
          }
        }

        &_search {
          width: 100%;
          display: block;
          box-sizing: border-box;
          border: solid 2px $lightgray;
          border-radius: 5px;
          font-size: 1.8rem;
          color: $gray;
          padding: 1rem 3.5rem 1rem 1.5rem;

          &:focus {
            outline: 0;
            border-color: $blue;
          }
        }

      }

    }

  }

  &_bottom {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 0;
    }

    &_row {
      @include tablet {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        max-width: 1620px;
        width: 100%;
      }
    }

    &_logo {
      text-align: center;

      &_img {
        max-width: 200px;
      }

    }

    &_search {
      display: none;

      @include tablet {
        display: block;
      }
    }

  }

}