body.blog {
  @include desktop {
    background: url('../img/home-bg.png') left top no-repeat;
    background-size: auto;
  }
}

.content {

  &_latest {
    background: url('../img/home-bg.png') left top no-repeat;
    background-size: cover;

    @include tablet {
      background-position-y: bottom;
    }

    @include desktop {
      background: none;
    }

    &_row {
      @include tablet {
        display: flex;
        padding: 10px;
        justify-content: center;
      }

      @include desktop {
        max-width: 1620px;
      }
    }

    &_thumbnail {
      max-width: 787px;
      width: 100%;
    }

    &_post {
      position: relative;
      margin: 0 15px 20px;
      max-width: 787px;

      @include tablet {
        margin: 10px;
      }

      &_info {
        position: absolute;
        bottom: 20px;
        box-sizing: border-box;
        padding: 30px;
        color: white;
        text-shadow: 2px 2px 12px #00131ebf;
        font-family: $bahn;

        @include desktop {
          padding: 0 60px 40px;
        }
      }

      &_title {
        font-size: 2.8rem;
        color: white;
        font-family: $pnb;
        line-height: 1;
        transition: all ease .3s;

        @include tablet {
          font-size: 3.2rem;
          margin: 0;
        }

        @include desktop {
          font-size: 5.2rem;
        }

        @include wide {
          font-size: 6.2rem;
        }

        &:hover {
          opacity:.6;
        }
      }

      &_date {
        text-transform: uppercase;
        font-size: 1.4rem;

        @include desktop {
          font-size: 1.8rem;
        }
      }

      &_dot {
        font-size: 1rem;
        margin: 0 10px;
      }

      &_cat a{
        color: white;
        font-size: 1.4rem;

        @include desktop {
          font-size: 1.8rem;
        }

        &:hover {
          opacity:.6;
        }
      }

    }

  }

}