@mixin meta(){
  font-family: $bahn;
  color: $gray;
  text-transform: uppercase;
  font-size: 1.6rem;
}

@mixin pagination() {
  display: inline-block;
  background: #e5e5e5;
  height: 35px;
  width: 25px;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
  line-height: 35px;
  margin: 2px;
  color: $gray;
  font-family: $bahn;
  font-weight: bold;
  padding: 0 2px;
  box-sizing: border-box;
  border-radius: 1px;
}

@mixin mid() {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}