.header {

  &_top {
    
    &_toggle {
      font-size: 2rem;
      color: white;

      @include desktop {
        display: none;
      }
    }
    
    &_nav {

      display: none;

      @include desktop {
        display: inline-block;
      }

      &_list {

        .menu-item {
          font-family: $bahn;
          font-size: 1.6rem;
          text-align: left;
          display: inline-block;
          margin-right: 5px;

          a {
            color: white;

            &:hover {
              color: $darkblue;
            }
          }
        }

      }
      
      &_mob {
        position: fixed;
        top: 0;
        left: -500px;
        width: 100%;
        height: 100%;
        z-index: 3;
        max-width: 320px;
        background: white;
        text-align: center;
        padding: 50px 20px;
        box-sizing: border-box;

        &_list {
          max-width: 300px;
          margin: 30px auto;
          padding-left: 20px;
  
          .menu-item {
            font-family: $bahn;
            font-weight: 800;
            font-size: 2.0rem;
            margin-bottom: 1.5rem;
            text-align: left;
  
            a {
              color: $gray;
  
              &:hover {
                color: $blue;
              }
            }
          }
        }

      }

    }

  }

}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: .8);
  display: none;
  z-index: 1;
}

#closebtn {
  position: absolute;
  right: 14px;
  top: 6px;
  font-size: 2.3rem;
  color: #777;
}