.nav-links {

  @include mid();

  @include tablet {
    max-width: $contentarea;
  }

  @include desktop {
    padding: 0 20px;
  }
  
  a{
    @include pagination;

    &:hover{
      background: #38b8ff;
      color: white;
    }

    i{
      font-size: 1.3rem;
    }
  }

  .current {
    @include pagination;

    background: #38b8ff;
    color: white;
  }
}