.page_search {  

  &_form {

    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 30px;

    @include desktop {
      width: 500px;
      text-align: right;
    }

    &_label {
      display:none;

      @include desktop {
        display: inline-block;
        font-family: $bahn;
        font-size: 1.6rem;
        color: $gray;
        font-weight: bold;
      }
    }

    &_field {
      position: relative;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
      max-width: 500px;
      width: 100%;

      @include desktop {
        max-width: 300px;
      }
    }

    &_input {
      border: solid 2px $lightgray;
      border-radius: 5px;
      padding: 8px 40px 8px 15px;
      font-size: 1.6rem;
      margin-bottom: 0;
      color: $gray;
      width: 100%;
      box-sizing: border-box;
      display: inline-block;

      &:focus {
        outline: 0;
        border-color: $blue;
      }
    }

    &_icon {
      position: absolute;
      top: 10px;
      right: 15px;
      color: $lightgray;
    }

  }

}

.search_page {  

  &_row {
    @include tablet {
      margin: 50px auto 0 !important;
      padding: 20px;
      max-width: 1640px;
    }
  }

  &_form {
    
    @include tablet {
      text-align: left;
      width: 100%;
    }

    @include desktop {
      width: 60%;
    }

    &_field {  
      @include tablet {
        max-width: 100%;
      }
    }

    &_input {

      @include tablet {
        font-size: 2.2rem;
      }

      @include desktop {
        font-size: 2.8rem;
      }

    }

    &_icon {  
      @include tablet {
        font-size: 2.2rem;
      }

      @include desktop {
        font-size: 2.8rem;
      }
    }

  }

}