.widget-content {
    margin-bottom: 30px;
    text-align: center;

    > ul {
        text-align: left;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include desktop {
            display: block;
        }
    }
    
    li {
        margin-bottom: 15px;

        @include tablet {
            width: 46%;
        }

        @include desktop {
            width: 100%;
        }

        > a {
            font-size: 2.2rem;
            font-family: $pnxb;
            color: $black;
            display: block;

            &:hover {
                color: $blue;
            }

            @include desktop {
                font-size: 3rem;
            }
        }
    }

    img {
        width:100%;
        height: auto;        
    }

    .post-date {
        text-transform: uppercase;
        font-family: $bahn;
        color: $lightgray;
        font-size: 1.2rem;

        @include desktop {
            font-size: 1.6rem;
        }
    }
}

.widget-title {
    font-family: $bahn;
    color: $gray;
    font-size: 1.8rem;

    @include desktop {
        font-size: 2.2rem;
    }
}

