main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;

  @include desktop {
    font-size: 2.1rem;
  }
}

.post {

  h2 {
    font-family: $pnb;
    font-size: 2.8rem;
    padding-top: 2rem;

    @include desktop {
      font-size: 3.8rem;
    }
  }

  h3 {
    font-family: $pn;
    font-size: 2.3rem;
    padding-top: 2rem;

    @include desktop {
      font-size: 3.0rem;
    }
  }

  ol, ul {
    text-align: left;
    padding-left: 2.5rem;
    margin: 0 0 3rem;
  }

  ul li {
      margin-bottom: 1rem;
      list-style: initial;
  }

  ol li {
      margin-bottom: 1rem;
      list-style: decimal;
  }

  &_title {
    font-family: $pnxb;
    font-size: 3.2rem;
    line-height: 1.2;
    color: $black;
    margin-bottom: 20px;
    padding: 0 20px;

    @include tablet {
      font-size: 5.2rem;
    }

    @include desktop {
      font-size: 5.8rem;
      line-height: 1.2;
    }
  }

  &_meta {
    @include meta;
    margin-bottom: 15px;
    padding: 0 20px;

    &_dot {
      font-size: 1.1rem;
      margin: 1rem;
    }

    a {
      color: $gray;

      &:hover {
        color: $blue;
      }
    }
  }

  &_info {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &_thumbnail {

    margin-bottom: 30px;

    &_img {
      width: 100%;
      height: auto;
    }
  }

  &_content {
    padding: 0 20px;
    
    @include tablet {
      max-width: 600px;
      margin: 30px auto;
    }
    
    @include desktop {
      max-width: 680px;
      margin: 30px auto;
    }
  }
  
  &_share {

    &_buttons {
      padding: 0 !important;
    }

    &-top {
      display: none;

      @include tablet {
        display: block;
        margin-bottom: 15px;
      }
    }

    &-bottom {
      text-align: left;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    &_label {
      @include meta;
      margin-right: 15px;
      display: inline-block;
      vertical-align: middle;
    }

    &_buttons {
      display: inline-block;
      vertical-align: middle;
      margin: 0 !important;
    }

    &_item {
      display: inline-block;
      margin-bottom: 0 !important;

      :hover {
        opacity: .6;
      }
    }

  }

}

.insert {
  &_box {
    background: #e4e4e4;
    max-width: 680px;
    margin: 35px auto;
    padding: 25px 30px;
  }

  &_link {

    * {
      transition: all ease .3s;
    }

    &:hover *{
      opacity: .6;
    }    
  }

  &_heading {
    display: block;
    font-weight: bold;
    color: #888;
    font-size: 1.7rem;
    margin-bottom: 5px
  }

  &_text {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #9a9a9a;
  }

}

.single {
  .content_post_item_excerpt {
    display:none;
  }
}