// Color Scheme

$blue: #38b8ff;
$darkblue: #1296df;
$black: #3c3c3c;
$dark: #696969;
$darker: #555555;
$gray: #777777;
$lightgray: #cccccc;

// Fonts & Typefaces

$bahn: 'Bahnschrift', sans-serif;
$pnt: 'Proxima Nova Thin', sans-serif;
$pn: 'Proxima Nova', sans-serif;
$pnb: 'Proxima Nova Bold', sans-serif;
$pnxb: 'Proxima Nova XB', sans-serif;
$pnbl: 'Proxima Nova BL', sans-serif;


// Layout

$contentarea: 1620px;