html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 62.5%;
}

body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #696969;
  overflow-x: hidden;
  padding-top: 8.25rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  text-align: left;
}

h1 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.3;
  color: #333;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.3;
  color: #3d3d3d;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: #444;
}

h4 {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.4;
  color: #4d4d4d;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  margin-bottom: 3rem;
  line-height: 1.6;
  text-align: left;
}

a {
  text-decoration: none;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  color: #38b8ff;
}

a:hover {
  text-decoration: none;
}

section {
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .row {
  text-align: left;
  margin: auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  font-family: "Bahnschrift", sans-serif;
  color: #cccccc;
}

:-ms-input-placeholder {
  font-family: "Bahnschrift", sans-serif;
  color: #cccccc;
}

::-ms-input-placeholder {
  font-family: "Bahnschrift", sans-serif;
  color: #cccccc;
}

::placeholder {
  font-family: "Bahnschrift", sans-serif;
  color: #cccccc;
}

.header_top_toggle {
  font-size: 2rem;
  color: white;
}

@media (min-width: 992px) {
  .header_top_toggle {
    display: none;
  }
}

.header_top_nav {
  display: none;
}

@media (min-width: 992px) {
  .header_top_nav {
    display: inline-block;
  }
}

.header_top_nav_list .menu-item {
  font-family: "Bahnschrift", sans-serif;
  font-size: 1.6rem;
  text-align: left;
  display: inline-block;
  margin-right: 5px;
}

.header_top_nav_list .menu-item a {
  color: white;
}

.header_top_nav_list .menu-item a:hover {
  color: #1296df;
}

.header_top_nav_mob {
  position: fixed;
  top: 0;
  left: -500px;
  width: 100%;
  height: 100%;
  z-index: 3;
  max-width: 320px;
  background: white;
  text-align: center;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_top_nav_mob_list {
  max-width: 300px;
  margin: 30px auto;
  padding-left: 20px;
}

.header_top_nav_mob_list .menu-item {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 800;
  font-size: 2.0rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.header_top_nav_mob_list .menu-item a {
  color: #777777;
}

.header_top_nav_mob_list .menu-item a:hover {
  color: #38b8ff;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1;
}

#closebtn {
  position: absolute;
  right: 14px;
  top: 6px;
  font-size: 2.3rem;
  color: #777;
}

.header_top {
  background: #38b8ff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.header_top.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header_top.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: fixed;
}

.header_top_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  max-width: 1620px;
  width: 100%;
}

.header_top_col_left {
  text-align: left;
  width: 60%;
}

.header_top_col_right {
  text-align: right;
  width: 40%;
}

.header_top_social_label {
  display: none;
}

@media (min-width: 992px) {
  .header_top_social_label {
    display: inline-block;
    font-family: "Bahnschrift", sans-serif;
    color: white;
    font-size: 1.6rem;
    margin-right: 8px;
  }
}

.header_top_social_link {
  display: inline-block;
  margin: .3rem;
}

.header_top_social_link:hover i {
  color: #1296df;
}

.header_top_social_link i {
  color: white;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.header_top_icon {
  width: 100%;
  max-width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.header_top_search_mob_field {
  position: relative;
  margin: 0 auto 20px;
  display: block;
  max-width: 300px;
  width: 100%;
}

.header_top_search_mob_field .icon-search {
  position: absolute;
  top: 12px;
  right: 13px;
  font-size: 2rem;
  color: #cccccc;
}

.header_top_search_mob_search {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #cccccc;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #777777;
  padding: 1rem 3.5rem 1rem 1.5rem;
}

.header_top_search_mob_search:focus {
  outline: 0;
  border-color: #38b8ff;
}

.header_bottom {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .header_bottom {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .header_bottom_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1620px;
    width: 100%;
  }
}

.header_bottom_logo {
  text-align: center;
}

.header_bottom_logo_img {
  max-width: 200px;
}

.header_bottom_search {
  display: none;
}

@media (min-width: 768px) {
  .header_bottom_search {
    display: block;
  }
}

@media (min-width: 768px) {
  .content_post_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1620px;
    width: 100%;
    padding: 0 15px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .content_post_list::after {
    content: "";
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

.content_post_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 530px;
  margin: 0 auto 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .content_post_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 530px;
    width: 100%;
    padding: 0;
    margin: 0 0 30px;
  }
}

.content_post_item_thumb {
  width: 40%;
}

@media (min-width: 768px) {
  .content_post_item_thumb {
    width: 100%;
  }
}

.content_post_item_img {
  width: 100%;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.content_post_item_img:hover {
  opacity: .6;
}

.content_post_item_info {
  width: 60%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .content_post_item_info {
    width: 100%;
    padding: 0;
  }
}

.content_post_item_title {
  font-size: 1.8rem;
  font-family: "Proxima Nova XB", sans-serif;
  margin: 0 0 .5rem;
}

@media (min-width: 768px) {
  .content_post_item_title {
    font-size: 2.6rem;
  }
}

@media (min-width: 992px) {
  .content_post_item_title {
    font-size: 3rem;
  }
}

.content_post_item_title a {
  color: #3c3c3c;
}

.content_post_item_title a:hover {
  color: #38b8ff;
}

.content_post_item_meta {
  font-size: 1.2rem;
  font-family: "Bahnschrift", sans-serif;
  color: #cccccc;
}

@media (min-width: 768px) {
  .content_post_item_meta {
    font-size: 1.6rem;
  }
}

.content_post_item_date {
  text-transform: uppercase;
}

.content_post_item_dot {
  font-size: 1rem;
  margin: 0 .5rem;
}

.content_post_item_cat a {
  color: #cccccc;
}

.content_post_item_cat a:hover {
  color: #38b8ff;
}

.content_post_item_excerpt {
  display: none;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .content_post_item_excerpt {
    display: block;
    margin-top: 15px;
    font-size: 1.8rem;
  }
}

.load_more {
  text-align: center !important;
  padding: 20px;
}

.load_more_link {
  color: #777777;
  font-weight: 800;
  font-family: "Bahnschrift", sans-serif;
  font-size: 1.4rem;
}

.load_more_link::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin: 5px auto;
  border: solid 10px;
  border-top-color: gray;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.load_more_link:hover {
  color: #38b8ff;
}

.load_more_link:hover::after {
  border-top-color: #38b8ff;
}

.load_more p {
  text-align: center;
  font-size: 2rem;
}

.archive_content > .col {
  margin-bottom: 5rem;
}

@media (min-width: 992px) {
  .archive_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1620px;
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .archive_content_main {
    width: 70%;
    margin-right: 30px;
  }
}

.archive_content_sidebar {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .archive_content_sidebar {
    max-width: 1620px;
  }
}

@media (min-width: 992px) {
  .archive_content_sidebar {
    width: 30%;
  }
}

.archive_page {
  padding: 0 20px;
}

.archive_page_heading {
  max-width: 1620px;
  margin: 30px auto;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .archive_page_heading {
    max-width: 1620px;
    margin-top: 50px !important;
  }
}

@media (min-width: 992px) {
  .archive_page_heading {
    padding: 0 20px;
  }
}

.archive_page_title {
  font-family: "Bahnschrift", sans-serif;
  font-size: 1.8rem;
  color: #777777;
}

@media (min-width: 768px) {
  .archive_page_title {
    padding: 15px 0;
    font-size: 2.2rem;
  }
}

.archive_page_list {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .archive_page_list {
    max-width: 1620px;
  }
}

@media (min-width: 992px) {
  .archive_page_list {
    padding: 0 20px;
  }
}

.archive_page_list_404 {
  min-height: 300px;
}

.archive_page_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 530px;
  margin: 0 auto 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .archive_page_item {
    max-width: none;
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
  }
}

.archive_page_item_thumb {
  width: 40%;
}

@media (min-width: 768px) {
  .archive_page_item_thumb {
    width: 30%;
  }
}

.archive_page_item_img {
  width: 100%;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.archive_page_item_img:hover {
  opacity: .6;
}

.archive_page_item_info {
  width: 60%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .archive_page_item_info {
    width: 67%;
    padding: 0;
  }
}

.archive_page_item_title {
  font-size: 1.8rem;
  font-family: "Proxima Nova XB", sans-serif;
  margin: 0 0 .5rem;
}

@media (min-width: 768px) {
  .archive_page_item_title {
    font-size: 3.2rem;
  }
}

@media (min-width: 992px) {
  .archive_page_item_title {
    font-size: 4.2rem;
  }
}

.archive_page_item_title a {
  color: #3c3c3c;
}

.archive_page_item_title a:hover {
  color: #38b8ff;
}

.archive_page_item_meta {
  font-size: 1.2rem;
  font-family: "Bahnschrift", sans-serif;
  color: #cccccc;
}

@media (min-width: 768px) {
  .archive_page_item_meta {
    font-size: 1.6rem;
  }
}

.archive_page_item_date {
  text-transform: uppercase;
}

.archive_page_item_dot {
  font-size: 1rem;
  margin: 0 .5rem;
}

.archive_page_item_cat a {
  color: #cccccc;
}

.archive_page_item_cat a:hover {
  color: #38b8ff;
}

.archive_page_item_excerpt {
  display: none;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .archive_page_item_excerpt {
    display: block;
    margin-top: 15px;
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .archive_page_item_excerpt {
    font-size: 2.1rem;
  }
}

@media (min-width: 992px) {
  body.blog {
    background: url("../img/home-bg.png") left top no-repeat;
    background-size: auto;
  }
}

.content_latest {
  background: url("../img/home-bg.png") left top no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .content_latest {
    background-position-y: bottom;
  }
}

@media (min-width: 992px) {
  .content_latest {
    background: none;
  }
}

@media (min-width: 768px) {
  .content_latest_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  .content_latest_row {
    max-width: 1620px;
  }
}

.content_latest_thumbnail {
  max-width: 787px;
  width: 100%;
}

.content_latest_post {
  position: relative;
  margin: 0 15px 20px;
  max-width: 787px;
}

@media (min-width: 768px) {
  .content_latest_post {
    margin: 10px;
  }
}

.content_latest_post_info {
  position: absolute;
  bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  color: white;
  text-shadow: 2px 2px 12px #00131ebf;
  font-family: "Bahnschrift", sans-serif;
}

@media (min-width: 992px) {
  .content_latest_post_info {
    padding: 0 60px 40px;
  }
}

.content_latest_post_title {
  font-size: 2.8rem;
  color: white;
  font-family: "Proxima Nova Bold", sans-serif;
  line-height: 1;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media (min-width: 768px) {
  .content_latest_post_title {
    font-size: 3.2rem;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .content_latest_post_title {
    font-size: 5.2rem;
  }
}

@media (min-width: 1200px) {
  .content_latest_post_title {
    font-size: 6.2rem;
  }
}

.content_latest_post_title:hover {
  opacity: .6;
}

.content_latest_post_date {
  text-transform: uppercase;
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  .content_latest_post_date {
    font-size: 1.8rem;
  }
}

.content_latest_post_dot {
  font-size: 1rem;
  margin: 0 10px;
}

.content_latest_post_cat a {
  color: white;
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  .content_latest_post_cat a {
    font-size: 1.8rem;
  }
}

.content_latest_post_cat a:hover {
  opacity: .6;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

@media (min-width: 992px) {
  main {
    font-size: 2.1rem;
  }
}

.post h2 {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 2.8rem;
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .post h2 {
    font-size: 3.8rem;
  }
}

.post h3 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 2.3rem;
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .post h3 {
    font-size: 3.0rem;
  }
}

.post ol, .post ul {
  text-align: left;
  padding-left: 2.5rem;
  margin: 0 0 3rem;
}

.post ul li {
  margin-bottom: 1rem;
  list-style: initial;
}

.post ol li {
  margin-bottom: 1rem;
  list-style: decimal;
}

.post_title {
  font-family: "Proxima Nova XB", sans-serif;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #3c3c3c;
  margin-bottom: 20px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .post_title {
    font-size: 5.2rem;
  }
}

@media (min-width: 992px) {
  .post_title {
    font-size: 5.8rem;
    line-height: 1.2;
  }
}

.post_meta {
  font-family: "Bahnschrift", sans-serif;
  color: #777777;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 15px;
  padding: 0 20px;
}

.post_meta_dot {
  font-size: 1.1rem;
  margin: 1rem;
}

.post_meta a {
  color: #777777;
}

.post_meta a:hover {
  color: #38b8ff;
}

@media (min-width: 768px) {
  .post_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.post_thumbnail {
  margin-bottom: 30px;
}

.post_thumbnail_img {
  width: 100%;
  height: auto;
}

.post_content {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .post_content {
    max-width: 600px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  .post_content {
    max-width: 680px;
    margin: 30px auto;
  }
}

.post_share_buttons {
  padding: 0 !important;
}

.post_share-top {
  display: none;
}

@media (min-width: 768px) {
  .post_share-top {
    display: block;
    margin-bottom: 15px;
  }
}

.post_share-bottom {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
}

.post_share_label {
  font-family: "Bahnschrift", sans-serif;
  color: #777777;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.post_share_buttons {
  display: inline-block;
  vertical-align: middle;
  margin: 0 !important;
}

.post_share_item {
  display: inline-block;
  margin-bottom: 0 !important;
}

.post_share_item :hover {
  opacity: .6;
}

.insert_box {
  background: #e4e4e4;
  max-width: 680px;
  margin: 35px auto;
  padding: 25px 30px;
}

.insert_link * {
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.insert_link:hover * {
  opacity: .6;
}

.insert_heading {
  display: block;
  font-weight: bold;
  color: #888;
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.insert_text {
  display: block;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #9a9a9a;
}

.single .content_post_item_excerpt {
  display: none;
}

@media (min-width: 768px) {
  .page main {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .page main {
    max-width: 800px;
  }
}

.widget-content {
  margin-bottom: 30px;
  text-align: center;
}

.widget-content > ul {
  text-align: left;
}

@media (min-width: 768px) {
  .widget-content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .widget-content > ul {
    display: block;
  }
}

.widget-content li {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .widget-content li {
    width: 46%;
  }
}

@media (min-width: 992px) {
  .widget-content li {
    width: 100%;
  }
}

.widget-content li > a {
  font-size: 2.2rem;
  font-family: "Proxima Nova XB", sans-serif;
  color: #3c3c3c;
  display: block;
}

.widget-content li > a:hover {
  color: #38b8ff;
}

@media (min-width: 992px) {
  .widget-content li > a {
    font-size: 3rem;
  }
}

.widget-content img {
  width: 100%;
  height: auto;
}

.widget-content .post-date {
  text-transform: uppercase;
  font-family: "Bahnschrift", sans-serif;
  color: #cccccc;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .widget-content .post-date {
    font-size: 1.6rem;
  }
}

.widget-title {
  font-family: "Bahnschrift", sans-serif;
  color: #777777;
  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .widget-title {
    font-size: 2.2rem;
  }
}

.page_search_form {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .page_search_form {
    width: 500px;
    text-align: right;
  }
}

.page_search_form_label {
  display: none;
}

@media (min-width: 992px) {
  .page_search_form_label {
    display: inline-block;
    font-family: "Bahnschrift", sans-serif;
    font-size: 1.6rem;
    color: #777777;
    font-weight: bold;
  }
}

.page_search_form_field {
  position: relative;
  text-align: center;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 500px;
  width: 100%;
}

@media (min-width: 992px) {
  .page_search_form_field {
    max-width: 300px;
  }
}

.page_search_form_input {
  border: solid 2px #cccccc;
  border-radius: 5px;
  padding: 8px 40px 8px 15px;
  font-size: 1.6rem;
  margin-bottom: 0;
  color: #777777;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.page_search_form_input:focus {
  outline: 0;
  border-color: #38b8ff;
}

.page_search_form_icon {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #cccccc;
}

@media (min-width: 768px) {
  .search_page_row {
    margin: 50px auto 0 !important;
    padding: 20px;
    max-width: 1640px;
  }
}

@media (min-width: 768px) {
  .search_page_form {
    text-align: left;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .search_page_form {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .search_page_form_field {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .search_page_form_input {
    font-size: 2.2rem;
  }
}

@media (min-width: 992px) {
  .search_page_form_input {
    font-size: 2.8rem;
  }
}

@media (min-width: 768px) {
  .search_page_form_icon {
    font-size: 2.2rem;
  }
}

@media (min-width: 992px) {
  .search_page_form_icon {
    font-size: 2.8rem;
  }
}

.nav-links {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .nav-links {
    max-width: 1620px;
  }
}

@media (min-width: 992px) {
  .nav-links {
    padding: 0 20px;
  }
}

.nav-links a {
  display: inline-block;
  background: #e5e5e5;
  height: 35px;
  width: 25px;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
  line-height: 35px;
  margin: 2px;
  color: #777777;
  font-family: "Bahnschrift", sans-serif;
  font-weight: bold;
  padding: 0 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
}

.nav-links a:hover {
  background: #38b8ff;
  color: white;
}

.nav-links a i {
  font-size: 1.3rem;
}

.nav-links .current {
  display: inline-block;
  background: #e5e5e5;
  height: 35px;
  width: 25px;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
  line-height: 35px;
  margin: 2px;
  color: #777777;
  font-family: "Bahnschrift", sans-serif;
  font-weight: bold;
  padding: 0 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  background: #38b8ff;
  color: white;
}

.pre-footer {
  text-align: center;
  background: #38b8ff;
  color: white;
  padding: 30px 15px;
  margin-top: 50px;
}

.pre-footer a {
  color: white;
}

.pre-footer_social {
  text-align: center;
  margin-top: 1rem;
}

.pre-footer_social a {
  display: inline-block;
  background: #1296df;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: .5rem;
  text-align: center;
  line-height: 20px;
}

.pre-footer_social a:hover {
  background-color: white;
}

.pre-footer_social a i {
  color: #38b8ff;
}

.footer {
  background: #0d0d0d;
  text-align: center;
  padding: 30px 15px;
  font-size: 1.2rem;
  color: white;
}

.footer a {
  color: white;
  margin: 5px;
}

.footer a:hover {
  color: #555555;
}

.footer_logo img {
  width: 150px;
  height: auto;
  margin-bottom: 5px;
}

.footer_menu_list {
  text-align: center;
}

.footer_menu_list li {
  display: inline-block;
  margin: 0 .4rem;
  font-family: "Bahnschrift", sans-serif;
  font-size: 1.4rem;
}

.footer_menu_list li a:hover {
  color: #1296df;
}

@media (min-width: 992px) {
  .footer_menu_list li {
    font-size: 1.6rem;
  }
}

.footer_copy {
  margin-top: 5px;
}

.footer_copy p {
  text-align: center;
}

#toTop {
  position: fixed;
  background: #1296df;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2.8rem;
  opacity: .6;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  display: none;
  text-align: center;
  line-height: 40px;
}

#toTop:hover {
  opacity: 1;
  cursor: pointer;
}

#toTop i {
  color: white;
}
/*# sourceMappingURL=style.css.map */